{% extends "plugins/admin/templates/content/media/base.html" %}

{% block content %}
<div class="workspace-header row">
    <div class="col p-0"><h2>{{ __('admin_file') }}</h2></div>
    <div class="col p-0 text-end">
        <a href="javascript:void(0);"
           data-form-id="form-media-file"
           class="btn btn-primary js-submit-form">{{ __('admin_save')|raw }}</a>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="workspace-rounded" style="height: 500px; display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        background: #fbfbfb;">
            <img src="{{ getBaseUrl() }}/project/media/{{ id }}" style="max-height: 450px; max-width: 700px;
                        display: block;" alt="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="workspace-rounded px-4 py-4 mb-3">
            {{ flextype.form.render(serializers().yaml.decode(filesystem().file(PATH_PROJECT ~ '/fieldsets/media-file.yaml').get()), meta_data)|raw }}
        </div>
        <div class="workspace-rounded px-4 py-4 mb-3">
            <div class="mb-3">
                <label for="" class="form-label">{{ __('admin_direct_link') }}</label>
                <input type="text" class="form-control" id="" value="{{ getBaseUrl() }}/project/media/{{ id }}" readonly>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">{{ __('admin_images_api_link') }}</label>
                <input type="text" class="form-control" id="" value="{{ getBaseUrl() }}/api/images/{{ id }}?token={{ registry().get('flextype.settings.api.images.default_token') }}" readonly>
            </div>
        </div>
    </div>
</div>
{% endblock %}
