{% extends "plugins/admin/templates/content/media/base.html" %}

{% block content %}
<div class="workspace-header row">
    <div class="col p-0"><h2>{{ __('admin_media') }}</h2></div>
    <div class="col p-0 text-end">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            File
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li><a class="dropdown-item" href="{{ urlFor('admin.media.upload') }}?id={{ id }}">Upload file</a></li>
                <li><a class="dropdown-item" href="{{ urlFor('admin.media.createDirectory') }}?id={{ id }}">Create directory</a></li>
            </ul>
        </div>
    </div>
</div>

{% if mediaFoldersList.count() > 0 or mediaFilesList.count() > 0 %}
<div class="workspace-rounded">
    <table class="table">
        <thead>
            <tr>
                <th width="50"></th>
                <th class="ps-0">
                    {{ __('admin_name') }}
                </th>
                <th width="50"></th>
            </tr>
        </thead>
        <tbody>
            {% if id %}
            <tr onclick="document.location = '{{ urlFor('admin.media.index') }}?id={{ parent_id }}';" style="cursor:pointer">
                <td width="50" class="text-center">
                    ..
                </td>
                <td colspan="2"></td>
            </tr>
            {% endif %}
            {% for folder in mediaFoldersList %}
                <tr>
                    <td width="50" class="text-center">
                        {{ icon('folder', 'bootstrap') }}
                    </td>
                    <td class="ps-0">
                        <a href="{{ urlFor('admin.media.index') }}?id={{ folder.path }}">{{ folder.basename }}</a>
                    </td>
                    <td class="text-right" width="18">
                        <div class="dropdown">
                            <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ icon('three-dots', 'bootstrap') }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="javascript:;" onclick="event.preventDefault(); Media.deleteFolder('{{ folder.basename }}');">
                                    {{ icon('trash', 'bootstrap') }} {{ __('admin_delete') }}</a>
                                </li>
                                <form id="delete-folder-id-{{ folder.basename }}" action="{{ urlFor('admin.media.deleteFolderProcess') }}" method="POST" style="display: none;">
                                    {{ csrf() }}
                                    <input type="hidden" name="id" value="{{ folder.path }}">
                                    <input type="hidden" name="basename" value="{{ folder.basename }}">
                                </form>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {% for file in mediaFilesList %}
                <tr>
                    <td width="50" class="text-center">
                        {{ icon('file-earmark-image', 'bootstrap') }}
                    </td>
                    <td class="ps-0">
                        <a href="{{ urlFor('admin.media.edit') }}?id={{ file.path }}/{{ file.filename }}">{{ file.filename }}</a>
                    </td>
                    <td class="text-right" width="18">
                        <div class="dropdown">
                            <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ icon('three-dots', 'bootstrap') }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="javascript:;" onclick="event.preventDefault(); Media.deleteFile('{{ file.filename }}');">
                                    {{ icon('trash', 'bootstrap') }} {{ __('admin_delete') }}</a>
                                </li>
                                <form id="delete-file-id-{{ file.filename }}" action="{{ urlFor('admin.media.deleteFileProcess') }}" method="POST" style="display: none;">
                                    {{ csrf() }}
                                    <input type="hidden" name="id" value="{{ file.path }}">
                                    <input type="hidden" name="filename" value="{{ file.filename }}">
                                    <input type="hidden" name="path" value="{{ file.path }}">
                                </form>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}

{% endif %}
{% endblock %}
