//
// Main
//

body,
html {
    font-family: $base-font-family;
    font-size: $base-font-size;
    height: 100%;
    color: $black;
    background: $white;
}

body,
button,
input,
p,
select,
textarea {
    font-family: $base-font-family;
    font-weight: 400;
    color: $black;
}

body,
p {
    line-height: $base-line-height;
}

pre {
    background: $gray-lightest;
    padding-left: 10px;
}

a {
    color: $black;

    &:focus,
    &:hover {
        text-decoration: none;
        color: $gray-darker;
    }
}

.margin-hard-bottom {
    margin-bottom: 0!important;
}