//
// Main
//

html,
body {
    font-family: $base-font-family;
    font-size: $base-font-size;

    height: 100%;

    color: $black;
    background: $white;
}

body,
button,
input,
select,
textarea,
p {
    font-family: $base-font-family;
    font-weight: 400;

    color: $black;
}

body,
p {
    line-height: $base-line-height;
}

pre {
    background: $gray-lightest;
    padding-left: 10px;
}

a {
    color: $black;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $gray-darker;
    }
}

.btn-editor {
    margin-right: 5px;
    border: 2px solid #000!important;
}

.btn-black-default {
    color: #000!important;
    background-color: #fff!important;
}
