{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% if properties.layout %}
<div {{ include(template_from_string(attr.class([properties.layout.class, grid.col(properties.layout.size, properties.layout.grid)]))) }}
    {{ include(template_from_string(attr.data(properties.layout.data))) }}
    {{ include(template_from_string(attr.style(properties.layout.style))) }}>
{% endif %}
    {% if properties.properties.label %}
        <label for="{{ blockID }}"
            {{ include(template_from_string(attr.class(['form-label', properties.properties.label.class]))) }}
            {{ include(template_from_string(attr.style(properties.properties.label.style))) }}>{{ include(template_from_string(properties.properties.label.title)) }}</label>
    {% endif %}
    <textarea {{ include(template_from_string(attr.id(blockID))) }}
            {{ include(template_from_string(attr.name(blockName))) }}
            rows="0"
            cols="0"
            {{ include(template_from_string(attr.data(properties.properties.data))) }}
            {{ include(template_from_string(attr.class(['js-html-editor', 'form-control', properties.properties.class]))) }}
            {{ include(template_from_string(attr.events(properties.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                                                            'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                                                            'onkeydown', 'onblur']))) }}>{{ include(template_from_string(blockValue)) }}</textarea>
    {% if properties.properties.help %}
        <small>{{ __(properties.properties.help)}}</small>
    {% endif %}

    {% if flextype.registry.get('flextype.settings.locale') == 'en_US' %}
        {% set trumbowygLocale = 'en' %}
    {% else %}
        {% set trumbowygLocale = flextype.registry.get('flextype.settings.locale')|lower|slice(0, 2) %}
    {% endif %}

    <input type="hidden" name="trumbowyg-icons-path" value="{{ url() }}/project/plugins/blueprints/assets/dist/fonts/trumbowyg/icons.svg">
    <input type="hidden" name="trumbowyg-locale" value="{{ trumbowygLocale }}">
{% if properties.layout %}
</div>
{% endif %}
