<!doctype html>
<html lang="{{ flextype.registry.get('flextype.settings.locale') }}">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
            <meta name="robots" content="noindex,nofollow">

            {% do flextype.emitter.emit('onAdminThemeMeta') %}

            <title>Admin - Flextype</title>

            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

            {% for css in flextype.registry.get('assets.admin.css') %}
                {% if css %}
                    <link href="{{ url() }}/{{ css }}" rel="stylesheet">
                {% endif %}
            {% endfor %}

            {% do flextype.emitter.emit('onAdminThemeHeader') %}
        {% endblock %}
    </head>
    <body>
        <div class="workspace">
            <div class="navbar navbar-expand-lg navbar-light bg-light workspace-navigation">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ icon('menu-button-wide', 'bootstrap') }}
                                </a>
                                <ul class="dropdown-menu">
                                    {% if flextype.registry.has('plugins.admin.settings.navigation.system') %}
                                        {% for key, item in flextype.registry.get('plugins.admin.settings.navigation.content') %}
                                        <li>
                                            <a title="{{ item.title|raw }}" href="{{ url() }}{{ item.link|raw }}" class="dropdown-item {% if key == menu_item %}active{% endif %}">
                                            {{ icon(item.icon.name, item.icon.set) }} {{ item.title|raw }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    {% endif %}
                                    {% if flextype.registry.has('plugins.admin.settings.navigation.system') %}
                                        {% for key, item in flextype.registry.get('plugins.admin.settings.navigation.extends') %}
                                        <li>
                                            <a title="{{ item.title|raw }}" href="{{ url() }}{{ item.link|raw }}" class="dropdown-item {% if key == menu_item %}active{% endif %}">
                                            {{ icon(item.icon.name, item.icon.set) }} {{ item.title|raw }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    {% endif %}
                                    {% if flextype.registry.has('plugins.admin.settings.navigation.system') %}
                                        {% for key, item in flextype.registry.get('plugins.admin.settings.navigation.system') %}
                                        <li>
                                            <a title="{{ item.title|raw }}" href="{{ url() }}{{ item.link|raw }}" class="dropdown-item {% if key == menu_item %}active{% endif %}">
                                            {{ icon(item.icon.name, item.icon.set) }} {{ item.title|raw }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    {% endif %}
                                    {% if flextype.registry.has('plugins.admin.settings.navigation.information') %}
                                        {% for key, item in flextype.registry.get('plugins.admin.settings.navigation.information') %}
                                        <li>
                                            <a title="{{ item.title|raw }}" href="{{ url() }}{{ item.link|raw }}" class="dropdown-item {% if key == menu_item %}active{% endif %}">
                                            {{ icon(item.icon.name, item.icon.set) }} {{ item.title|raw }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="breadcrumbs">
                                {{ icon(flextype.registry.get('workspace.icon.name'), flextype.registry.get('workspace.icon.set')) }}
                                {% include "plugins/admin/templates/partials/breadcrumbs.html" %}
                            </div>
                        </div>
                        <div class="col text-end">
                            <a href="#">{{ icon('plus-circle', 'bootstrap') }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container workspace-content">
                <div class="row">
                    <div class="col-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

        {% for js in flextype.registry.get('assets.admin.js') %}
            {% if js %}
                <script type="text/javascript" src="{{ url() }}/{{ js }}"></script>
            {% endif %}
        {% endfor %}

        {% include "plugins/admin/templates/partials/modules/codemirror.html" %}
        {% include "plugins/admin/templates/partials/modules/entries-editor.html" %}
        {% include "plugins/admin/templates/partials/modules/slugify.html" %}
        {% include "plugins/admin/templates/partials/modules/swal2.html" %}
        {% include "plugins/admin/templates/partials/modules/clipboard.html" %}
        {% include "plugins/admin/templates/partials/modules/filepicker.html" %}

        {% do flextype.emitter.emit('onAdminThemeTail') %}

        {% block tail %}{% endblock %}
    </body>
</html>
