<script>
    {% if (flextype.registry.get('plugins.admin.settings.entries.slugify') == false and isCurrentUrl('admin.entries.add') or isCurrentUrl('admin.entries.rename')) %}
        $("#title").on("keyup change", function () {
            var slug = $("#title").val();
            $("#id").val(slug);
        });
    {% else %}
        $("#title").on("keyup change", function () {
            var slug = getSlug($("#title").val());
            $("#id").val(slug);
        });
    {% endif %}
</script>
