// 
// Common
// 
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background: #efefef;
}

// 
// Headings
// 
h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

// 
// Links
// 
a {
    text-decoration: none;
    color: $black;
}

// 
// Grid
// 
.row-hover {
    &:hover {
        background: rgba(0,0,0,.01);
    }
}

//
// Disable focus shadow
// 
.btn-check:focus+.btn-primary,
.btn-primary:focus,
.btn-check:focus+.btn, 
.btn:focus,
.form-control:focus {
    box-shadow: none;
}