{% extends "plugins/admin/templates/partials/base.html" %}

{% block breadcrumbs %}
    {% if isCurrentUrl('admin.media.index') or
          isCurrentUrl('admin.media.edit') or
          isCurrentUrl('admin.media.upload') %}
        {% set parts = id|split('/') %}
        {% for part in parts %}
            {% set mediaID = mediaID ~ '/' ~ part %}
            {% if (part != parts|last) %}
                <span class="slash-divider">/</span>
                <a href="{{ urlFor('admin.media.index') }}?id={{ strings(mediaID).trimLeft('/') }}">
                    {{ part }}
                </a>
            {% elseif (part) %}
                <span class="slash-divider">/</span>{{ part }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
