{% extends "plugins/admin/templates/partials/base.html" %}

{% block content %}
<div class="workspace-header row">
    <div class="col p-0"><h2>{{ __('admin_media') }}</h2></div>
    <div class="col p-0 text-end">
        <a href="{{ urlFor('admin.entries.add') }}?id={{ id_current }}" class="btn btn-primary">Upload file</a>
        <a href="{{ urlFor('admin.entries.add') }}?id={{ id_current }}" class="btn btn-primary">Create file</a>
        <a href="{{ urlFor('admin.entries.add') }}?id={{ id_current }}" class="btn btn-primary">Create directory</a>
    </div>
</div>

<div class="table-rounded">
    <table class="table">
        <thead>
            <tr>
                <th width="50"></th>
                <th class="ps-0">
                    {{ tr('admin_name') }}
                </th>
                <th width="50"></th>
            </tr>
        </thead>
        <tbody>
            {% if id %}
            <tr onclick="document.location = '{{ urlFor('admin.media.index') }}?id={{ parent_id }}';" style="cursor:pointer">
                <td width="50" class="text-center">
                    ..
                </td>
                <td colspan="2"></td>
            </tr>
            {% endif %}
            {% for folder in media_folders_list %}
                <tr>
                    <td width="50" class="text-center">
                        {{ icon('folder', 'bootstrap') }}
                    </td>
                    <td class="ps-0">
                        <a href="{{ urlFor('admin.media.index') }}?id={{ folder.path }}">{{ folder.basename }}</a>
                    </td>
                    <td class="text-right" width="18">
                        <div class="dropdown">
                            <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ icon('three-dots', 'bootstrap') }}
                            </a>
                            <ul class="dropdown-menu">

                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {% for file in media_files_list %}
                <tr>
                    <td width="50" class="text-center">
                        {{ icon('file-earmark-image', 'bootstrap') }}
                    </td>
                    <td class="ps-0">
                        <a href="?id={{ file.path }}">{{ file.filename }}</a>
                    </td>
                    <td class="text-right" width="18">

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block tail %}
    <script>
        function deleteEntry(id) {
            Swal.fire(
                {title: "{{ tr('admin_confirmation_required') }}",
                 text: "{{ tr('admin_confirmation_required_for_entry_delete') }}",
                 showCancelButton: true,
                 confirmButtonText: "{{ tr('admin_yes_iam_sure')|raw }}",
                 cancelButtonText: "{{ tr('admin_cancel') }}",
                 reverseButtons: true}
            ).then((result) => {
                if (result.value) {
                    document.getElementById('delete-id-' + id).submit();
                }
            });
        }
    </script>
{% endblock %}
