{% extends "plugins/admin/templates/partials/base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="workspace-header row">
            <div class="col p-0"><h2>{{ __('admin_upload') }}</h2></div>
        </div>
        <div class="table-rounded px-4 py-4 mb-3">
            <div class="file-upload text-center">
                <button class="file-upload__btn" type="button" onclick="$('.file-upload__dropzone__file-control').trigger( 'click' )">Select File</button>
                <div class="file-upload__dropzone">
                    <input class="file-upload__dropzone__file-control" type='file' onchange="readURL(this);" />
                    <div class="file-upload__dropzone__file-control-text">
                        <h3>Drag and drop a file or click to Select File</h3>
                    </div>
                </div>
                <div class="file-upload__preview">
                    <img class="file-upload__preview__image" src="#" alt="your image" />
                    <div class="file-upload__preview__svg">{{ icon('file-earmark-code', 'bootstrap') }}</div>
                    <div class="file-upload__btn-remove-wrap">
                        <button type="button" onclick="removeUpload()" class="file-upload__btn-remove-wrap__remove-image">Remove <span class="file-upload__btn-remove-wrap__remove-image-title">Uploaded Image</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-link">Cancel</a>
            <a href="#" class="btn btn-primary">Upload</a>
        </div>
    </div>
</div>
{% endblock %}
