{% extends "plugins/admin/templates/content/media/base.html" %}


{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="workspace-header row">
            <div class="col p-0"><h2>{{ __('admin_upload') }}</h2></div>
        </div>
        <div class="workspace-rounded px-4 py-4 mb-3">
            <div class="file-upload text-center">
                <button class="file-upload__btn" type="button" onclick="$('.file-upload__dropzone__file-control').trigger( 'click' )">Select File</button>
                <div class="file-upload__dropzone">
                    <form method="post" name="form_media_upload" enctype="multipart/form-data">
                        {{ csrf() }}
                        <input type="hidden" name="id" value="{{ id }}">
                        <input class="file-upload__dropzone__file-control" name="file" type="file" onchange="readURL(this);" />
                    </form>
                    <div class="file-upload__dropzone__file-control-text">
                        <h3>Drag and drop a file or click to Select File</h3>
                    </div>
                </div>
                <div class="file-upload__preview">
                    <img class="file-upload__preview__image" src="#" alt="your image" />
                    <div class="file-upload__preview__svg">{{ icon('file-earmark-code', 'bootstrap') }}</div>
                    <div class="file-upload__btn-remove-wrap">
                        <button type="button" onclick="removeUpload()" class="file-upload__btn-remove-wrap__remove-image">Remove <span class="file-upload__btn-remove-wrap__remove-image-title">Uploaded Image</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a href="javascript:void(0);" class="btn btn-link">Cancel</a>
            <a href="javascript:void(0);" class="btn btn-primary js-submit-upload-form">Upload</a>
        </div>
    </div>
</div>
{% endblock %}

{% block tail %}
<script>
    $('.js-submit-upload-form').click(function () {
        $("form[name=form_media_upload]").submit();
    });

    function readURL(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function(e) {
                $('.file-upload__dropzone').hide();

                if (input.files[0].type == 'image/png' ||
                    input.files[0].type == 'image/jpg' ||
                    input.files[0].type == 'image/jpeg' ||
                    input.files[0].type == 'image/gif') {
                    $('.file-upload__preview__image').attr('src', e.target.result);
                    $('.file-upload__preview__image').show();
                    $('.file-upload__preview__svg').hide();
                } else {
                    $('.file-upload__preview__image').hide();
                    $('.file-upload__preview__svg').show();
                }

                $('.file-upload__preview').show();
                $('.file-upload__btn-remove-wrap__remove-image-title').html(input.files[0].name);
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }

    function removeUpload() {
        $('.file-upload__dropzone__file-control').replaceWith($('.file-upload__dropzone__file-control').clone());
        $('.file-upload__preview').hide();
        $('.file-upload__dropzone').show();
    }

    $('.file-upload__dropzone').bind('dragover', function () {
        $('.file-upload__dropzone').addClass('file-upload__dropzone-dropping');
    });

    $('.file-upload__dropzone').bind('dragleave', function () {
        $('.file-upload__dropzone').removeClass('file-upload__dropzone-dropping');
    });

</script>
{% endblock %}
