.card {
    margin-bottom: 30px;
    border-radius: 4px;
}

.card-400 {
    width: 400px;
    margin: 0 auto;
}

.card-header {
    border-bottom-width: 1px;
    text-transform: uppercase;
    color: #9A9A9A;
    font-size: .75rem;
    font-weight: 400;
    padding: 15.5px 20px;
}

.card-footer {
    padding: 5.5px 20px;

    .btn {
        margin: 0;
    }
}
