.card {
    margin-bottom: 30px;
}

.card-400 {
    width: 400px;
    margin: 0 auto;
}

.card-header {
    border-bottom-width: 1px;
    text-transform: uppercase;
    color: #9A9A9A;
    font-size: .75rem;
    font-weight: 400;
}
