.filesmanager {
    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: #343942;
        border: 1px solid black;

        > .img-item {
            width: 100%;
            height: 100px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
    }
}
