//
// Panels
//

.dark-panel {
    border: 1px solid black;
}

.dark-panel-header {
    color: black;
    padding: 11px 10px;
    background: black;
    border-bottom: 1px solid black;

    a {
        color: white;
    }

    .h3 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: white;
    }
}

.dark-panel-footer {
    padding: 10px;
    border-top: 1px solid #000;
}

.dark-panel-body {
    padding: 10px;
}