.main-panel {

    -webkit-overflow-scrolling: touch;

    background: rgba(41, 45, 52, 1);
    position: relative;
    float: right;
    width: calc(100% - 240px);

    .content {
        padding: 30px 15px;
        min-height: calc(100vh);

        &.page-editor {
            margin-top: 70px;
        }
    }

    .navbar {
        margin-bottom: 0;
        padding: 0;
        border-bottom: 1px solid #000;
    }

    .navbar-fixed {
        position: fixed;
        right: 0;
        width: calc(100% - 240px);
        z-index: 1030;
    }

    .navbar-fixed + .content {
        padding-top: 65px;
    }
}
