.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 9999;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
    background: black;
    filter: grayscale(1);

    &:after,
    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;

        background: black;
        background-size: cover;
        opacity: .25;
    }

    .flextype-logo > a {
        letter-spacing: 3px;
        color: white;
        display: block;
        padding-top: 18px;
        padding-bottom: 18px;
        text-align: center;
        border-bottom: 1px solid #3b3b3b;
        margin-bottom: 18px;

        &:focus,
        &:hover {
            color: white;
        }
    }

    a[data-toggle="collapse"][aria-expanded="true"] .caret,
    .btn[data-toggle="collapse"][aria-expanded="true"] .caret,
    a.dropdown-toggle[aria-expanded="true"] .caret {
        transform: rotate(180deg);
    }

    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-top: 4px dashed;
        border-top: 4px solid\9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        margin-top: 13px;
        position: absolute;
        right: 0;
        transition: all 150ms ease-in;
    }

    .nav {
        float: none;
        display: block;

        a {
            transition: all 150ms ease-in;
        }
    }

    .nav .nav-item .nav-link {
        color: #FFFFFF;
        margin: 5px 0 0;
        opacity: .86;
        border-radius: 0;
        text-transform: uppercase;
        line-height: 30px;
        font-size: 12px;
        font-weight: 600;
        padding: 10px 25px;
        white-space: nowrap;
    }

    .nav .nav-item .nav-link:hover {
        background: rgba(255, 255, 255, 0.13);
        opacity: 1;
    }

    .nav .nav-item .nav-link i {
        font-size: 28px;
        margin-right: 15px;
        width: 30px;
        text-align: center;
        vertical-align: middle;
        float: left;
    }

    .nav .nav-item:not(.collapse .nav-link):hover .nav-link {
        background: rgba(255, 255, 255, 0.13);
        opacity: 1;
    }

    .nav .nav-item.active .nav-link {
        color: #FFFFFF;
        opacity: 1;
        background: rgba(255, 255, 255, 0.23);
    }

    .nav .nav-item.separator {
        margin: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .nav .nav-item.separator+.nav-item {
        margin-top: 31px;
    }

    .sidebar-wrapper {
        position: relative;
        max-height: calc(100vh - 75px);
        min-height: 100%;
        overflow: auto;
        width: 260px;
        z-index: 4;
        padding-bottom: 100px;

        .nav .nav-item [data-toggle="collapse"]~div .nav .nav-item .nav-link {
            background: transparent;
            text-transform: capitalize;
            padding: 5px 72px;
            font-weight: 400;
            font-size: 14px;
        }

        .nav .nav-item [data-toggle="collapse"]~div .nav .nav-item:hover .nav-link,
        .nav .nav-item [data-toggle="collapse"]~div .nav .nav-item:focus .nav-link,
        .nav .nav-item [data-toggle="collapse"]~div .nav .nav-item.active .nav-link {
            background: rgba(255, 255, 255, 0.13);
        }

        .nav .nav-item [data-toggle="collapse"]~div .nav .sidebar-normal {
            left: 45px;
        }

        .nav .nav-link p {
            margin: 0;
            line-height: 30px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            white-space: nowrap;
            position: relative;
            color: white;
            transform: translate3d(0px, 0, 0);
            display: block;
            height: auto;
            opacity: 1;
        }
    }
}

.main-panel,
.navbar-fixed,
.sidebar,
.sidebar-wrapper {
    -webkit-overflow-scrolling: touch;
}

.sidebar .nav .collapse a > span,
.sidebar .sidebar-wrapper > .nav p {
    transition: all 150ms linear;
}

.sidebar-off-canvas {
    background: rgba(0,0,0,.6);
    position: fixed;
    z-index: 9999;
    left: 260px;
    display: none;
    max-height: calc(100vh);
    min-height: 100%;
    width: calc(100% - 260px);
}

.show-sidebar {
    left: 0!important;
}

.show-sidebar-off-canvas {
    display: block!important;
}

@media (max-width: 992px) {
    .sidebar {
        left: -260px;
    }

    .main-panel {
        width: 100%!important;

        .navbar-fixed {
            width: 100%!important;
        }
    }
}

@media (min-width: 993px) {
    .show-sidebar-off-canvas {
        display: none!important;
    }
}
