$base-font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
$base-font-color: #9ca4b2;
$base-font-weight: 300;
$base-font-size: 16px;
$base-line-height: 24px;

$body-bg: #292d34;

$btn-text-color: #9ca4b2;
$btn-background-color: #3a3f4a;
$btn-text-color-hover: #fff;
$btn-background-color-hover: #3e434f;

$navbar-item-text-color: #9ca4b2;

$base-spacing-unit: $base-font-size;
$half-spacing-unit: $base-spacing-unit / 2;