input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance:none;
}

.select2-container
{
  outline: none;
  display: block;
}

.select2-dropdown
{
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: 1px solid rgb(225, 228, 232);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid rgb(225, 228, 232);
}

.select2-container--default .select2-results>.select2-results__options {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single
{
    outline: none;
    border: 1px solid rgb(225, 228, 232);
    display: block;
    width: 100%;
    padding: .44rem .7rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    appearance: none;
    border-radius: 6px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]
{
    background-color: #ededed;
    color: #16171a;
}

.select2-container--default .select2-search--dropdown .select2-search__field
{
    outline: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
{
    line-height: 21px!important;
    padding: 0;
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow
{
    height: 35px;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    min-height: 35px;
}

.select2-container--open .select2-dropdown--above,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single
{
    border-color: rgb(225, 228, 232);
}

.select2-selection.select2-selection--multiple
{
    padding: 0;
    padding-top: 1px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
{
    border-color: rgb(225, 228, 232);
    background-color: rgba(27, 31, 35, 0.15);
    color: #ffffff;
    opacity: .9;
    border-radius: 6px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
{
    margin-right: 5px;
    padding-right: 5px;
    border-color: rgb(225, 228, 232);
    border-right-width: 1px;
    border-style: solid;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:hover
{
    border-color: rgb(225, 228, 232);
    background-color: #16171a;
    color: #ffffff;
    opacity: 1;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
{
    opacity: .9;
    color: #ffffff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover
{
    opacity: 1;
    color: #ffffff;
}
