.btn-primary {
    background-color: rgb(250, 251, 252);
    border-radius: 6px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    color: rgb(36, 41, 46);
}

.btn-primary:hover,
.btn-primary:active {
    border: 1px solid rgba(27, 31, 35, 0.15);
    color: rgb(36, 41, 46);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    background-color: rgb(237, 239, 242);
}
