.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgb(225, 228, 232);
    background: white;
}

.navbar > .container > .row .col:first-of-type {
    padding-left: 0;
}

.navbar > .container > .row .col:last-of-type {
    padding-right: 0;
}

.navbar > .container,
.navbar > .container-fluid {
    padding: 0;
    padding-left: 22px;
    padding-right: 22px;
    display: block;
}

.navbar-brand {
    margin-right: 5px;
    padding: 0;
}

.navbar-brand svg {
    display: inline-block;
}
