.trumbowyg-button-pane
{
  background-color: #ffffff;
  border-bottom-width: 0;
  border-radius: 6px;
}

.trumbowyg-button-pane::after
{
  background-color: rgba(27, 31, 35, 0.15);;
}

.trumbowyg-box,
.trumbowyg-editor
{
  border-color: rgba(27, 31, 35, 0.15);;
  margin: 0;
  border-radius: 6px;
}

.trumbowyg-button-pane .trumbowyg-open-dropdown::after,
.trumbowyg-button-pane button > svg
{
  color: #6c6c6c;
  fill: #6c6c6c;
}

.trumbowyg-button-pane .trumbowyg-open-dropdown:hover::after,
.trumbowyg-viewHTML-button.trumbowyg-not-disable:hover svg,
.trumbowyg-button-pane button:hover > svg
{
  color: black;
  fill: black;
}

.trumbowyg-button-pane button.trumbowyg-active > svg
{
  color: black;
  fill: black;
}

.trumbowyg-button-pane .trumbowyg-button-group::after
{
  background-color: #ffffff;
}

.trumbowyg-button-pane .trumbowyg-button-group.trumbowyg-right::after
{
  width: 0;
  margin: 0;
  background-color: #ffffff;
}
