{% extends "plugins/admin/templates/partials/base.html" %}

{% block breadcrumbs %}
    {% if isCurrentUrl('admin.entries.index') or
          isCurrentUrl('admin.entries.edit') or
          isCurrentUrl('admin.entries.add') or
          isCurrentUrl('admin.entries.move') or
          isCurrentUrl('admin.entries.rename') or
          isCurrentUrl('admin.entries.type') %}
        {% set parts = id|split('/') %}
        {% for part in parts %}
            {% set entryID = entryID ~ '/' ~ part %}
            {% if (part != parts|last) %}
                <span class="slash-divider">/</span>
                <a href="{{ urlFor('admin.entries.index') }}?id={{ strings(entryID).trimLeft('/') }}">
                    {{ flextype.entries.fetch(strings(entryID).trimLeft('/')).title }}
                </a>
            {% elseif (part) %}
                <span class="slash-divider">/</span>{{ flextype.entries.fetch(strings(entryID).trimLeft('/')).title }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block tail %}
<script>
    class Entries {
        static processForms() {
            $('.js-submit-entry-create-form').click(function () {
                $("input[name=redirect]").val($(this).data('redirect'));
                $("form[name=form_entries_create]").submit();
            });

            $('.js-submit-entries-form-editor').click(function () {
                $(".js-entries-form-editor form").submit();
            });

            $('.js-submit-entry-move-form').click(function () {
                $("form[name=form_entries_move]").submit();
            });

            $('.js-submit-entry-rename-form').click(function () {
                $("form[name=form_entries_rename]").submit();
            });

            $('.js-submit-entry-type-form').click(function () {
                $("form[name=form_entries_type]").submit();
            });
        }

        static deleteEntry(id) {
            Swal.fire({
                title: "{{ __('admin_confirmation_required') }}",
                text: "{{ __('admin_confirmation_required_for_entry_delete') }}",
                showCancelButton: true,
                confirmButtonText: "{{ __('admin_yes_iam_sure')|raw }}",
                cancelButtonText: "{{ __('admin_cancel') }}",
                reverseButtons: true
             }).then((result) => {
                if (result.value) {
                    document.getElementById('delete-id-' + id).submit();
                }
            });
        }
    }

    {% if (flextype.registry.get('plugins.admin.settings.entries.slugify') == false and
           (isCurrentUrl('admin.entries.add') or
            isCurrentUrl('admin.entries.rename'))) %}
        $(".js-title").on("keyup change", function () {
            $(".js-id").val($(".js-title").val());
        });
    {% elseif (flextype.registry.get('plugins.admin.settings.entries.slugify') == true and
               (isCurrentUrl('admin.entries.add') or
                isCurrentUrl('admin.entries.rename'))) %}
        $(".js-title").on("keyup change", function () {
            $(".js-id").val(getSlug($(".js-title").val()));
        });
    {% endif %}

    Entries.processForms();
</script>
{% endblock %}
