{% extends "plugins/admin/templates/partials/base.html" %}

{% block breadcrumbs %}
    {% if isCurrentUrl('admin.entries.index') or
          isCurrentUrl('admin.entries.edit') or
          isCurrentUrl('admin.entries.add') or
          isCurrentUrl('admin.entries.move') or
          isCurrentUrl('admin.entries.rename') %}
        {% set parts = query.id|split('/') %}
        {% for part in parts %}
            {% set entryID = strings(entryID ~ '/' ~ part).trimLeft('/') %}
            {% if (part != parts|last) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ urlFor('admin.entries.index') }}?id={{ entryID }}">{% if flextype.entries.has(entryID) %}{{ flextype.entries.fetch(entryID).title ?: flextype.entries.fetch(entryID).slug }}{% else %}{{ part }}{% endif %}</a>
                </li>
            {% elseif (part) %}
            <li class="nav-item">
                <a class="nav-link">{% if flextype.entries.has(entryID) %}{{ flextype.entries.fetch(entryID).title ?: flextype.entries.fetch(entryID).slug }}{% else %}{{ part }}{% endif %}</a>
            </li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block tail %}
<script>
    function confirmationEntryDelete(event, id) {
        event.preventDefault(); 
        var confirmationModal = new bootstrap.Modal(document.getElementById('confirmation-entry-delete-modal')).show();
        $("#confirmation-entry-delete-modal .js-submit").on("click", function() {
            document.getElementById('delete-entry-id-' + id).submit();
        });
    }
</script>

<div id="confirmation-entry-delete-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ __('admin_confirmation_required') }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>{{ __('admin_confirmation_required_for_entry_delete') }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('admin_cancel') }}</button>
          <button type="button" class="btn btn-primary js-submit" data-bs-dismiss="modal">{{ __('admin_yes_iam_sure')|raw }}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}