{% extends "plugins/admin/templates/content/entries/partials/base.html" %}

{% block content %}
    {% set templates = [] %}
    {% for template in filesystem().find().depth(0).in(PATH_PROJECT ~ '/themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/').files() %}
        {% if template.getExtension() == 'html' %}
            {% set templateName = template.getBasename('.html') %}
            {% set templates = templates|merge({(templateName): templateName}) %}
        {% endif %}
    {% endfor %}

    {% if entry['blueprint'] %} 
        {% set blueprint = flextype.blueprints.fetch(entry['blueprint']) %}
    {% else %}
        {% set blueprint = flextype.blueprints.fetch('default') %}
    {% endif %}

    {% if entry['blocks'] %}
        {% set blueprint = arrays(blueprint).replace(entry['blocks'], true) %}
    {% endif %}

    {% set blueprint = blueprint.toArray() %}

    {{ flextype.blueprints.renderFromArray(blueprint, entry, {'templates': templates,
                                                              'routable': routable,
                                                              'entry': entry,
                                                              'visibility': visibility,
                                                              'query': query}) }}
{% endblock %}
