{% extends "plugins/admin/templates/content/entries/base.html" %}

{% block content %}
{% if fieldsets | length > 0 %}
    {% if entries_list | length > 0 %}
    <div class="workspace-header row">
        <div class="col p-0"><h2>{{ __('admin_entries') }}</h2></div>
        <div class="col p-0 text-end">
            <a href="{{ urlFor('admin.entries.add') }}?id={{ id_current }}" class="btn btn-primary">{{ __('admin_create_new_entry')|raw }}</a>
        </div>
    </div>
    <div class="workspace-rounded">
        <table class="table">
            <thead>
                <tr>
                    <th width="50"></th>
                    <th class="ps-0">
                        {{ tr('admin_title') }}
                    </th>
                    <th>
                        {{ tr('admin_url') }}
                    </th>
                    <th>
                        {{ tr('admin_published_at') }}
                    </th>
                    <th width="50"></th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries_list %}
                    <tr>
                        <td width="50" class="text-center {% if entry.visibility == 'hidden' or entry.visibility == 'draft' or entry.routable == false %}opacity-50{% endif %}">
                            {% if entry.fieldset %}
                                {% set fieldset_path = PATH_PROJECT ~ '/fieldsets' ~ '/' ~ entry.fieldset ~ '.yaml' %}
                                {% if filesystem().file(fieldset_path).exists() %}
                                    {% set fieldset = flextype.serializers.yaml.decode(filesystem().file(fieldset_path).get()) %}
                                    {% if fieldset.icon %}
                                        {{ icon(fieldset.icon.name, fieldset.icon.set) }}
                                    {% else %}
                                        {{ icon('file-text', 'bootstrap') }}
                                    {% endif %}
                                {% else %}
                                    {{ icon('file-text', 'bootstrap') }}
                                {% endif %}
                            {% else %}
                                {{ icon('file-text', 'bootstrap') }}
                            {% endif %}
                        </td>
                        <td class="ps-0 {% if entry.visibility == 'hidden' or entry.visibility == 'draft' or entry.routable == false %}opacity-50{% endif %}">
                            <a href="{% if entry.has_children %}{{ urlFor('admin.entries.index') }}?id={{ entry.id }}{% else %}{{ urlFor('admin.entries.edit') }}?id={{ entry.id }}&type=editor{% endif %}">
                                {% if entry.fieldset %}
                                    {% if filesystem().file(fieldset_path).exists() %}
                                        {% if fieldset.default_field %}
                                            {% if entry[fieldset.default_field] != '' %}
                                                {{ entry[fieldset.default_field] }}
                                            {% else %}
                                                {{ entry.slug }}
                                            {% endif %}
                                        {% else %}
                                            {{ entry.slug }}
                                        {% endif %}
                                    {% else %}
                                        {{ entry.slug }}
                                    {% endif %}
                                {% else %}
                                    {{ entry.slug }}
                                {% endif %}
                            </a>
                        </td>
                        <td class="truncate {% if entry.visibility == 'hidden' or entry.visibility == 'draft' or entry.routable == false %}opacity-50{% endif %}">
                            <a target="_blank" href="{{ url() }}/{{ entry.id }}">/{{ entry.id }}</a>
                        </td>
                        <td class="{% if entry.visibility == 'hidden' or entry.visibility == 'draft' or entry.routable == false %}opacity-50{% endif %}">
                            {{ entry.modified_at|date(registry.flextype.date_display_format) }}
                        </td>
                        <td class="text-right" width="18">
                            <div class="dropdown">
                                <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ icon('three-dots', 'bootstrap') }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{{ urlFor('admin.entries.edit') }}?id={{ entry.id }}&type=editor">
                                        {{ icon('pencil', 'bootstrap') }} {{ tr('admin_edit') }}</a></li>
                                    <li>
                                    <a class="dropdown-item" href="{{ urlFor('admin.entries.add') }}?id={{ entry.id }}">
                                        {{ icon('plus-circle', 'bootstrap') }} {{ tr('admin_add') }}</a></li>
                                    <li>
                                    <a class="dropdown-item" href="javascript:;" onclick="event.preventDefault();
                                           document.getElementById('duplicate-id-{{ entry.id }}').submit();">
                                        {{ icon('files', 'bootstrap') }} {{ tr('admin_duplicate') }}</a></li>
                                    <li>
                                    <a class="dropdown-item" href="{{ urlFor('admin.entries.rename') }}?id={{ entry.id }}">
                                        {{ icon('file-font', 'bootstrap') }} {{ tr('admin_rename') }}</a></li>
                                    <li>
                                    <a class="dropdown-item" href="{{ urlFor('admin.entries.type') }}?id={{ entry.id }}">
                                        {{ icon('card-list', 'bootstrap') }} {{ tr('admin_type') }}</a></li>
                                    <li>
                                    <li>
                                    <a class="dropdown-item" href="{{ urlFor('admin.entries.move') }}?id={{ entry.id }}">
                                        {{ icon('arrow-right-square', 'bootstrap') }} {{ tr('admin_move') }}</a></li>
                                    <li><a class="dropdown-item" href="{{ urlFor('admin.entries.edit') }}?id={{ entry.id }}&type=source">
                                        {{ icon('code-square', 'bootstrap') }} {{ tr('admin_source') }}</a></li>
                                    <li>
                                    <a class="dropdown-item" href="{{ baseUrl() }}/{{ entry.id }}" target="_blank">
                                        {{ icon('eye', 'bootstrap') }} {{ tr('admin_preview') }}</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                    <a class="dropdown-item" href="javascript:;" onclick="event.preventDefault(); Entries.deleteEntry('{{ entry.id }}');">
                                        {{ icon('trash', 'bootstrap') }} {{ tr('admin_delete') }}</a></li>
                                    <form id="duplicate-id-{{ entry.id }}" action="{{ urlFor('admin.entries.duplicateProcess') }}" method="POST" style="display: none;">
                                        {{ csrf() }}
                                        <input type="hidden" name="id" value="{{ entry.id }}">
                                    </form>
                                    <form id="delete-id-{{ entry.id }}" action="{{ urlFor('admin.entries.deleteProcess') }}" method="POST" style="display: none;">
                                        {{ csrf() }}
                                        <input type="hidden" name="id" value="{{ entry.id }}">
                                        <input type="hidden" name="id-current" value="{{ id_current }}">
                                    </form>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <div class="workspace-message">
            <div class="workspace-message__icon">{{ icon('newspaper', 'bootstrap') }}</div>
            <h3 class="workspace-message__title">{{ tr('admin_you_have_not_created_any_entries_yet') }}</h3>
            <a class="workspace-message__button btn btn-primary" href="{{ urlFor('admin.entries.add') }}">{{ tr('admin_create_new_entry') }}</a>
        </div>
    {% endif %}
{% else %}
    <div class="workspace-message">
        <div class="workspace-message__icon">{{ icon('newspaper', 'bootstrap') }}</div>
        <h3 class="workspace-message__title">{{ tr('admin_you_have_not_created_any_fieldsets_yet') }}</h3>
        <a class="workspace-message__button btn btn-primary" href="{{ urlFor('admin.fieldsets.add') }}">{{ tr('admin_create_new_fieldset') }}</a>
    </div>
{% endif %}
{% endblock %}
