{% extends "plugins/admin/templates/content/entries/base.html" %}

{% block content %}
    {{ flextype.blueprints.render('admin/entries/move', {}, {'id': id,
                                                             'entryCurrentID': entryCurrentID,
                                                             'entryParentID': entryParentID,
                                                             'entries': entries,
                                                             'cancelUrl': cancelUrl}) }}
{% endblock %}