{% extends "plugins/admin/templates/partials/base.html" %}

{% block content %}
<div class="workspace-header row">
    <div class="col p-0"><h2>Edit Source</h2></div>
    <div class="col p-0 text-end">
        <a href="{{ cancelUrl }}" class="btn btn-link">{{ __('admin_cancel') }}</a>
        <a href="javascript:void(0);"
           data-form-id="form_entries_source_save"
           class="btn btn-primary js-submit-form" class="btn btn-primary">{{ __('admin_save')|raw }}</a>
    </div>
</div>
<div class="workspace-rounded">
    <form method="post" id="form_entries_source_save">
        {{ csrf() }}
        <input type="hidden" name="action" value="save-form">
        <input type="hidden" name="id" value="{{ id }}">
        <textarea name="data" rows="0" cols="0" class="form-control code-editor js-code">{{ data }}</textarea>
    </form>
</div>

{% endblock %}
