{% extends "plugins/admin/templates/partials/base.html" %}

{% block content %}
<div class="workspace-header row">
    <div class="col p-0"><h2>{{ __('admin_edit_source')}}</h2></div>
    <div class="col p-0 text-end">
        <a href="{{ cancelUrl }}" class="btn btn-link">{{ __('admin_cancel') }}</a>
        <a href="javascript:void(0);"
           class="btn btn-primary js-submit-form-entries-source" class="btn btn-primary">{{ __('admin_save')|raw }}</a>
    </div>
</div>
<div class="workspace-rounded">
    <form method="post" name="form-entries-source">
        {{ csrf() }}
        <input type="hidden" name="id" value="{{ id }}">
        <textarea name="data" style="display:none;"></textarea>
        <div id="ace-editor">{{ data }}</div>
    </form>
</div>
{% endblock %}

{% block tail %}
<script>
    editor.session.setMode("ace/mode/html");

    $('.js-submit-form-entries-source').click(function () {
        $("[name=data]").val(editor.getValue());
        $("form[name=form-entries-source]").submit();
    });
</script>
{% endblock %}
