html,
body {
    font-size: var(--font-size);
    color: var(--font-color);
    font-weight: var(--font-weight);
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--font-color);
    font-weight: 200;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}
