/**
 * ADMIN PANEL
 */

@import 'base/variables';
@import 'base/common';

@import 'components/forms';
@import 'components/navigation';
@import 'components/modals';

@import 'modules/swal2';

tbody,
td,
tfoot,
th,
thead,
tr,
.table> :not(:last-child)> :last-child>* {
    border-bottom: 1px solid rgb(225, 228, 232);
    color: rgb(36, 41, 46);
    font-weight: 400;
}

.table>:not(caption)>*>* {
    padding: .5rem .9rem;
}

thead > tr,
thead > tr > th {
    background-color: rgb(250, 251, 252);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.text-muted {
    opacity: .25;
}

nav svg {
    margin-right: 8px;
    display: inline-block;
}

table td .dropdown > .dropdown-toggle {
    display: flex;
    align-content: center;
    align-items: center;
    height: 21px;
}

.dropdown {
    display: flex;
    align-content: center;
    align-items: center;
}

.dropdown-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    line-height: 0;
    padding: 0;
}

.dropdown-toggle::after {
    vertical-align: .055em;
}

.dropdown-toggle.dropdown-dots::after {
    border: none;
}

.dropdown-menu {
    overflow: hidden;
    border: 1px solid rgb(225, 228, 232);
    border-radius: 6px;
    padding: 1px 0;
}

.dropdown-divider {
    margin: 1px 0;
}

.dropdown-menu a {
    display: flex;
    align-content: center;
    align-items: center;
}

.dropdown-menu a > svg {
    margin-right: 8px;
}

.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
    background: #fdfdfd;
    color: black;
}

.dropdown-item {
    padding: .35rem 1rem;
    min-width: 11.5rem;
}

hr:not([size]) {
    height: 1px;
    border-top: 1px solid #d9d9d9;
}

.table-rounded {
    border: 1px solid rgb(225, 228, 232);
    border-radius: 6px;
    background: white;
}

.table-rounded > .table {
    margin: 0;
}

.table tr:last-child,
.table tr:last-child td {
    border-bottom: 1px solid transparent;
}

.table tr:last-child td {
    padding-bottom: 6.5px;
}

.breadcrumbs {
    display: flex;
    align-content: center;
    align-items: center;
}

.breadcrumbs > svg {
    margin-right: 8px;
}

.navbar .dropdown-toggle {
    margin-right: 10px;
}

.navbar .container {
    position: relative;
}

button:active,
button:focus,
input:focus {
    color: rgb(36, 41, 46);
}

.card {
    border-color: rgb(225, 228, 232);
    border-radius: 6px;
}

.card-title {
    font-weight: 400;
    color: rgb(36, 41, 46);
}

.card-title svg {
    margin-right: 8px;
}

.card-header:first-child {
    background-color: rgb(250, 251, 252);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card-header.card-plate {
    background-color: rgb(250, 251, 252);
    border: none;
    border-radius: 6px;
}

.card-title .dropdown {
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
}

.card-header {
    background-color: #fff;
    border-bottom-color: rgb(225, 228, 232);
}

.card-footer {
    background-color: #f8f9fa!important;
    border-top-color: rgb(225, 228, 232);
}

.actions-buttons a {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 10px;
}

.actions-buttons a > svg {
    margin-right: 8px;
}

.slash-divider {
    padding-left: 6px;
    padding-right: 6px;
    opacity: .25;
}

.form-control {
    padding: .44rem .5rem;
}

.form-control:active,
.form-control:focus {
    outline: none;
    border-color: #aaa;
    box-shadow: none;
}

.workspace-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.workspace-message {
    text-align: center;
    margin-top: 60px;
}

.workspace-message__icon > svg {
    width: 100px;
    height: 100px;
}

.workspace-message__title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.workspace-message__button {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.workspace-message__button > svg {
    margin-right: 8px;
}

.workspace-header {
    margin: 5px 0;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}

.workspace-header h2 {
    margin: 20px 0;
    font-weight: 200;
}
