.btn {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: var(--border-radius);
    appearance: none;
}

.btn-link {
    color: rgb(36, 41, 46);
    text-decoration: none;
}

.btn-link:hover,
.btn-link:active {
    color: black;
}

.btn-default {
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
    border: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    color: rgb(36, 41, 46);
}

.btn-default:hover,
.btn-default:active {
    border: 1px solid rgba(27, 31, 35, 0.15);
    color: rgb(36, 41, 46);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    background-color: rgb(237, 239, 242);
}

.btn-primary {
    background-color: rgb(250, 251, 252);
    border-radius: var(--border-radius);
    border: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    color: rgb(36, 41, 46);
}

.btn-primary:hover,
.btn-primary:active {
    border: 1px solid rgba(27, 31, 35, 0.15);
    color: rgb(36, 41, 46);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    background-color: rgb(237, 239, 242);
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active, .btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    border: 1px solid rgba(27, 31, 35, 0.15);
    color: rgb(36, 41, 46);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    background-color: rgb(237, 239, 242);
}
