.dropdown {
    display: flex;
    align-content: center;
    align-items: center;
}

.dropdown-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    line-height: 0;
    padding: 0;
}

.dropdown-toggle::after {
    vertical-align: .055em;
}

.dropdown-toggle.dropdown-dots::after {
    border: none;
}

.dropdown-menu {
    overflow: hidden;
    border: 1px solid rgb(225, 228, 232);
    border-radius: var(--border-radius);
    padding: 1px 0;
}

.dropdown-divider {
    margin: 1px 0;
}

.dropdown-menu a {
    display: flex;
    align-content: center;
    align-items: center;
}

.dropdown-menu a > svg {
    margin-right: 8px;
}

.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
    background: rgb(250, 251, 252);
    color: rgb(36, 41, 46);
}

.dropdown-item {
    padding: .35rem 1rem;
    min-width: 11.5rem;
}
