{% extends "plugins/admin/templates/system/tools/partials/base.html" %}

{% block content %}
{{ flextype.blueprints.render('admin/system/tools/cache', {}, {'query': query}) }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover border">
                <thead>
                    <tr>
                        <th>{{ __('admin_cache') }}</th>
                        <th>{{ __('admin_description') }}</th>
                        <th>{{ __('admin_size') }}</th>
                        <th width="50"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ __('admin_data') }}
                        </td>
                        <td>
                            Cached data with built in PHPFastCache.
                        </td>
                        <td>
                            {% if data_size %}{{ data_size }}{% else %}0 KB{% endif %}
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                                <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ icon('three-dots', 'bootstrap') }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                    <a class="dropdown-item d-flex align-items-center"  href="javascript:;" data-bs-toggle="modal" data-bs-target="#clear-cache-key-modal">
                                        <span class="pe-3 d-flex">{{ icon('card-text', 'bootstrap') }}</span> {{ __('admin_clear_key') }}</a></li>
                                    <li>
                                    <a class="dropdown-item d-flex align-items-center" href="javascript:;" onclick="clearCache('data');">
                                        <span class="pe-3 d-flex">{{ icon('trash', 'bootstrap') }}</span> {{ __('admin_clear') }}</a></li>
                                    <form id="clear-cache-id-data"
                                        action="{{ urlFor('admin.tools.clearCacheProcess') }}"
                                        method="POST"
                                        style="display: none;">
                                        {{ csrf() }}
                                        <input type="hidden" name="cache-id" value="data">
                                    </form>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ __('admin_templates') }}
                        </td>
                        <td>
                            Compiled and cached TWIG templates.
                        </td>
                        <td>
                            {% if twig_size %}{{ twig_size }}
                            {% else %}0 KB{% endif %}
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                                <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ icon('three-dots', 'bootstrap') }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                    <a class="dropdown-item d-flex align-items-center"  href="javascript:;" onclick="clearCache('templates');">
                                        <span class="pe-3 d-flex">{{ icon('trash', 'bootstrap') }}</span> {{ __('admin_clear') }}</a></li>
                                    <form id="clear-cache-id-templates"
                                        action="{{ urlFor('admin.tools.clearCacheProcess') }}"
                                        method="POST"
                                        style="display: none;">
                                        {{ csrf() }}
                                        <input type="hidden" name="cache-id" value="templates">
                                    </form>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ __('admin_preflight') }}
                        </td>
                        <td>
                            Compiled and cached Flextype preflight data and configuration.
                        </td>
                        <td>
                            {% if preflight_size %}{{ preflight_size }}
                            {% else %}0 KB{% endif %}
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                                <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ icon('three-dots', 'bootstrap') }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                    <a class="dropdown-item d-flex align-items-center"  href="javascript:;" onclick="clearCache('preflight');">
                                        <span class="pe-3 d-flex">{{ icon('trash', 'bootstrap') }}</span> {{ __('admin_clear') }}</a></li>
                                    <form id="clear-cache-id-preflight"
                                        action="{{ urlFor('admin.tools.clearCacheProcess') }}"
                                        method="POST"
                                        style="display: none;">
                                        {{ csrf() }}
                                        <input type="hidden" name="cache-id" value="preflight">
                                    </form>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ __('admin_images') }}
                        </td>
                        <td>
                            Cached Images generated by built it GLIDE.
                        </td>
                        <td>
                            {% if glide_size %}{{ glide_size }}
                            {% else %}0 KB{% endif %}
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                                <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ icon('three-dots', 'bootstrap') }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                    <a class="dropdown-item d-flex align-items-center"  href="javascript:;" onclick="clearCache('images');">
                                        <span class="pe-3 d-flex">{{ icon('trash', 'bootstrap') }}</span> {{ __('admin_clear') }}</a></li>
                                    <form id="clear-cache-id-images"
                                        action="{{ urlFor('admin.tools.clearCacheProcess') }}"
                                        method="POST"
                                        style="display: none;">
                                        {{ csrf() }}
                                        <input type="hidden" name="cache-id" value="images">
                                    </form>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
