{% extends "plugins/admin/templates/partials/base.html" %}

{% block content %}
<div class="workspace-header row">
    <div class="col p-0"><h2>Cache</h2></div>
    <div class="col p-0 text-end">
        <a href="javascript:;" onclick="clearCache('all');" class="btn btn-primary">{{ __('admin_clear_cache_all')|raw }}</a>
        <form id="cache-id-all"
              action="{{ urlFor('admin.tools.clearCacheProcess') }}"
              method="POST"
              style="display: none;">
            {{ csrf() }}
            <input type="hidden" name="cache-id" value="all">
        </form>
    </div>
</div>
<div class="table-rounded">
    <table class="table">
        <thead>
            <tr>
                <th>{{ tr('admin_cache') }}</th>
                <th>{{ tr('admin_description') }}</th>
                <th>{{ tr('admin_size') }}</th>
                <th width="50"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ tr('admin_data') }}
                </td>
                <td>
                    Cached data with built in PHPFastCache.
                </td>
                <td>
                    {% if data_size %}{{ data_size }}{% else %}0 KB{% endif %}
                </td>
                <td class="text-right">
                    <div class="dropdown">
                        <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ icon('three-dots', 'bootstrap') }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                            <a class="dropdown-item" href="javascript:;" onclick="clearCache('data');">
                                {{ icon('trash', 'bootstrap') }} {{ tr('admin_clear') }}</a></li>
                            <form id="cache-id-data"
                                  action="{{ urlFor('admin.tools.clearCacheProcess') }}"
                                  method="POST"
                                  style="display: none;">
                                {{ csrf() }}
                                <input type="hidden" name="cache-id" value="data">
                            </form>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    {{ tr('admin_templates') }}
                </td>
                <td>
                    Compiled and cached TWIG templates.
                </td>
                <td>
                    {% if twig_size %}{{ twig_size }}
                    {% else %}0 KB{% endif %}
                </td>
                <td class="text-right">
                    <div class="dropdown">
                        <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ icon('three-dots', 'bootstrap') }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                            <a class="dropdown-item" href="javascript:;" onclick="clearCache('templates');">
                                {{ icon('trash', 'bootstrap') }} {{ tr('admin_clear') }}</a></li>
                            <form id="cache-id-templates"
                                  action="{{ urlFor('admin.tools.clearCacheProcess') }}"
                                  method="POST"
                                  style="display: none;">
                                {{ csrf() }}
                                <input type="hidden" name="cache-id" value="templates">
                            </form>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    {{ tr('admin_preflight') }}
                </td>
                <td>
                    Compiled and cached Flextype preflight data and configuration.
                </td>
                <td>
                    {% if preflight_size %}{{ preflight_size }}
                    {% else %}0 KB{% endif %}
                </td>
                <td class="text-right">
                    <div class="dropdown">
                        <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ icon('three-dots', 'bootstrap') }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                            <a class="dropdown-item" href="javascript:;" onclick="clearCache('preflight');">
                                {{ icon('trash', 'bootstrap') }} {{ tr('admin_clear') }}</a></li>
                            <form id="cache-id-preflight"
                                  action="{{ urlFor('admin.tools.clearCacheProcess') }}"
                                  method="POST"
                                  style="display: none;">
                                {{ csrf() }}
                                <input type="hidden" name="cache-id" value="preflight">
                            </form>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    {{ tr('admin_images') }}
                </td>
                <td>
                    Cached Images generated by built it GLIDE.
                </td>
                <td>
                    {% if glide_size %}{{ glide_size }}
                    {% else %}0 KB{% endif %}
                </td>
                <td class="text-right">
                    <div class="dropdown">
                        <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ icon('three-dots', 'bootstrap') }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                            <a class="dropdown-item" href="javascript:;" onclick="clearCache('images');">
                                {{ icon('trash', 'bootstrap') }} {{ tr('admin_clear') }}</a></li>
                            <form id="cache-id-images"
                                  action="{{ urlFor('admin.tools.clearCacheProcess') }}"
                                  method="POST"
                                  style="display: none;">
                                {{ csrf() }}
                                <input type="hidden" name="cache-id" value="images">
                            </form>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}


{% block tail %}
    <script>
        function clearCache(id) {
            Swal.fire(
                {title: "{{ tr('admin_confirmation_required') }}",
                 text: "{{ tr('admin_confirmation_cache_clear') }}",
                 showCancelButton: true,
                 confirmButtonText: "{{ tr('admin_yes_iam_sure')|raw }}",
                 cancelButtonText: "{{ tr('admin_cancel') }}",
                 reverseButtons: true}
            ).then((result) => {
                if (result.value) {
                    document.getElementById('cache-id-' + id).submit();
                }
            });
        }
    </script>
{% endblock %}
