{% extends "plugins/admin/templates/partials/base.html" %}

{% block content %}
<div class="workspace-header row">
    <div class="col p-0"><h2>Tools</h2></div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
         <div class="card-header card-plate">
            <div class="card-title d-flex align-middle align-items-center m-0">
                {{ icon('info-circle', 'bootstrap') }} Information
                <div class="dropdown">
                    <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ icon('three-dots', 'bootstrap') }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ urlFor('admin.tools.information') }}">
                            {{ icon('eye', 'bootstrap') }} {{ tr('admin_view') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
         <div class="card-header card-plate">
            <div class="card-title d-flex align-middle align-items-center m-0">
                {{ icon('journal-richtext', 'bootstrap') }} Cache
                <div class="dropdown">
                    <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ icon('three-dots', 'bootstrap') }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ urlFor('admin.tools.cache') }}">
                            {{ icon('eye', 'bootstrap') }} {{ tr('admin_view') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
         <div class="card-header card-plate">
            <div class="card-title d-flex align-middle align-items-center m-0">
                {{ icon('archive', 'bootstrap') }} Registry
                <div class="dropdown">
                    <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ icon('three-dots', 'bootstrap') }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ urlFor('admin.tools.registry') }}">
                            {{ icon('eye', 'bootstrap') }} {{ tr('admin_view') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
         <div class="card-header card-plate">
            <div class="card-title d-flex align-middle align-items-center m-0">
                {{ icon('journals', 'bootstrap') }} Reports
                <div class="dropdown">
                    <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ icon('three-dots', 'bootstrap') }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ urlFor('admin.tools.reports') }}">
                            {{ icon('eye', 'bootstrap') }} {{ tr('admin_view') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
