{% extends "plugins/admin/templates/system/tools/base.html" %}

{% block content %}
    {% if (tools|length > 0) %}
        {{ flextype.blueprints.render('admin/system/tools', {}, {'query': query}) }}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="50"></th>
                                <th class="ps-0">
                                    {{ __('admin_name') }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, tool in tools %}
                                <tr>
                                    <td width="50" class="text-center">
                                        {{ icon(tool.icon.name, tool.icon.set) }}
                                    </td>
                                    <td class="ps-0">
                                        <a href="{{ urlFor(tool.route) }}">
                                            {{ tool.title }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}