{% extends "plugins/admin/templates/partials/base.html" %}

{% block content %}
{{ flextype.blueprints.render('admin/system/tools/partials/registry', {}, {'query': query}) }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for key, value in registryDump %}
                <table class="table table-hover border">
                    <tbody>
                        <tr>
                            <td width="100"><strong>{{ __('admin_key') }}</strong></td>
                            <td>
                                {{ key }}
                            </td>
                        </tr>
                        <tr>
                            <td width="100"><strong>{{ __('admin_value') }}</strong></td>
                            <td>
                                {% if value is not iterable %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
