{% extends "plugins/admin/templates/partials/base.html" %}

{% block content %}
<div class="workspace-header row">
    <div class="col p-0"><h2>Reports</h2></div>
</div>
<div class="row">
    <div class="col"><h4>PHP information</h4></div>
</div>
<div class="table-rounded mb-4">
    <table class="table">
        <tbody>
            <tr>
                <tr>
                    <td>{{ php_info|raw }}</td>
                </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col"><h4>Apache Modules - installed</h4></div>
</div>
<div class="table-rounded mb-4">
    <table class="table">
        <tbody>
            <tr>
                <tr>
                    <td>
                        <div class="row">
                            {% for module in apache_modules %}
                                <div class="col-2">{{ module }}</div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
{% endblock %}
